[submodule "mcp-generator"]
	path = mcp-generator
	url = https://github.com/pragun-clique-labs/mcp-generator.git
[submodule "observee-api"]
	path = observee-api
	url = https://github.com/pragun-clique-labs/observee-api.git
